[Unit]
Description=Simple iperf3 scheduller
#After=rsyslog.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/projects/clm/meter_client
ExecStart=/usr/bin/python3 -u iperf3_server.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target

